<a href="https://colab.research.google.com/github/vtheertha/PYTHON/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PROGRAMS ON SELECTION AND ITERATION**

1.Get an integer input from a user. If number is odd, then find the factorial of a number and find the number of digits in the factorial of the number. If the number is even, then check the given number is palindrome or not.

In [1]:
num=int(input("Enter an integer:"))
if num%2!=0:
    fact=1
    for i in range(2,num+1):
        fact=fact*i
    print("The factorial is",fact)
    count=0
    while fact!=0:
        fact//=10
        count=count+1
    print("The number of digits is",count)

if num%2==0:
    temp=num
    rev=0
    while temp!=0:
        digits=temp%10
        rev=rev*10+digits
        temp//=10
    if rev==num:
        print("The number is palindrome.")
    else:
        print("The number is not palindrome.")

Enter an integer:5
The factorial is 120
The number of digits is 3

**STRING AND ITS OPERATIONS**

2.Given two strings, PRINT(YES or NO) whether the second string can be obtained from the first by deletion of none, one or more characters.

In [2]:
str1="Welcome to Python Programming Class"
str2="Programming"
count=0
for i in range (0,len(str2)):
  if str2[i] in str1:
    count+=1
if count>=len(str2):
  print("YES")
else:
  print("NO")

YES

**LIST AND ITS OPERATIONS**

3 A. Program for positive and negative indexing.

In [3]:
myList=[1,2,3,4,5,6,7,8,9]

#postive indexing
print(myList[0:8])
print(myList[::2])
print(myList[2:7:2])
print(myList[::])

#negative indexing
print(myList[-1::])
print(myList[-4:-1])
print(myList[-6::-1])

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[3, 5, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9]
[6, 7, 8]
[4, 3, 2, 1]

3 B.Program to check if the given list is in ascending order or not.

In [8]:
def listsorted(lst):
  for i in range(1,len(lst)):
    if lst[i]<lst[i-1]:
      return False
  return True

lst=[1,4,5,6,8,9]
res=listsorted(lst)
if res==True:
  print("The list is sorted.")
else:
  print("The list is not sorted.")

The list is sorted.

**TUPLES AND ITS OPERATIONS**

4 A. Python program to convert a tuple to a string.

In [5]:
tup=('p','y','t','h','o','n')
str1=""
for i in tup:
  str1=str1+i
print("The string is:",str1)

The string is: python

4 B. Python program to reverse a tuple.

In [6]:
def revtuple(tup1):
  revtuple=tup1[::-1]
  print("The tuple in reverse:",revtuple)

tup1=[1,3,5,7,9]
print("The original tuple:",tup1)
revtuple(tup1)

The original tuple: [1, 3, 5, 7, 9]
The tuple in reverse: [9, 7, 5, 3, 1]

**SETS AND ITS OPERATIONS**

5.Python program to check if a set is subset of another set.

In [7]:
a={1,3,5,6,7}
b={1,2,3,4,5}
res=(a<=b)
if res==True:
  print("Set a is a subset of set b.")
else:
  print("Set a is not a subset of set b.")

Set a is not a subset of set b.

**DICTONARIES AND ITS OPERATIONS**

6.Python program to iterate over dictonaries using for loops.

In [ ]:
dt={'Name':'Sarah', 'Age':'23', 'City':'Toronto'}
for key, value in dt.items():
  print(key,'-',value)

Name - Sarah
Age - 23
City - Toronto